/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
.Map, .col-md-5-comprar, .col-md-5-enviar, .form-label, .Grid.contact, .btn, .carousel, #carouselExampleIndicators .carousel-slide, .Productos, .Row2, .Row1, .SectionE a, .SectionE p, .SectionE-container, h1 h2, .container-fluid .row, .card-title, .card, .SectionB, .SectionBb, .container-1, .Name, .col-12, .row {
  display: flex;
  justify-content: center;
}

.Header-container {
  background-color: #a09cb0;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: xx-large;
  font-weight: 700;
  color: #41868f;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding-top: 20px;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-size: x-large;
  font-weight: 700;
  color: #131d39;
  padding-bottom: 20px;
  text-align: center;
}

.bg-light {
  --bs-bg-opacity: 0;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 600;
}

.nav-item {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 600;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  font-weight: 600;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #db495e;
}

/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
.footer-container {
  background-color: #a09cb0;
  border-top: 1.5px dashed #433451;
}

.container-fluid {
  display: inline-block;
}

.logo .img-fluid {
  width: 20%;
}

.logo {
  display: flex;
  justify-content: center;
}

.wsp:hover {
  transition: all 1s;
  transform: scale(1.5);
}

.row {
  align-items: center;
}

.col-12 {
  align-items: center;
}

.col-12 img {
  width: 20%;
}

@media screen and (max-width: 400px) {
  .logo .img-fluid {
    width: 40%;
    align-items: center;
  }

  .container-fluid {
    display: inline-block;
  }
}
@media screen and (max-width: 401px) and (min-width: 600px) {
  .logo .img-fluid {
    width: 40%;
    align-items: center;
  }

  .container-fluid {
    display: inline-block;
  }
}
@media screen and (min-width: 401px) and (max-width: 1023px) {
  .logo .img-fluid {
    width: 40%;
    align-items: center;
  }

  .container-fluid {
    display: inline-block;
  }
}
/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
.Map, .col-md-5-comprar, .col-md-5-enviar, .form-label, .Grid.contact, .btn, .carousel, #carouselExampleIndicators .carousel-slide, .Productos, .Row2, .Row1, .SectionE a, .SectionE p, .SectionE-container, h1 h2, .container-fluid .row, .card-title, .card, .SectionB, .SectionBb, .container-1, .Name, .row, .col-12 {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Index */
.SectionA {
  background-color: #eae6ca;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-1 {
  padding-top: 20px;
  padding-left: 20px;
}

.image .img-fluid-w-75 {
  border: 2px solid #433451;
  border-radius: 80px 30px;
  box-shadow: 10px 10px rgba(160, 156, 176, 0.86);
  -webkit-box-shadow: 10px 10px rgba(160, 156, 176, 0.86);
  -moz-box-shadow: 10px 10px rgba(160, 156, 176, 0.86);
}

.proposal1 {
  padding-left: 50px;
  padding-right: 50px;
}

.proposal2 {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

h3 {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: #131d39;
}

h4 {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: #131d39;
}

p {
  font-family: "Oxygen", sans-serif;
  font-size: medium;
  font-weight: 500;
  text-align: justify;
}

/* @Media */
/* Mobile */
@media screen and (max-width: 400px) {
  .SectionA {
    display: block;
    align-items: center;
  }

  .Name .img-fluid-w-25 {
    display: inline-block;
    align-items: center;
    width: 50%;
  }

  .containera .container-1 {
    display: block;
    align-items: center;
  }

  .image {
    display: flex;
    justify-content: center;
  }

  .img-fluid-w-50 {
    width: 50%;
  }
}
/* Tablets */
@media screen and (min-width: 401px) and (max-width: 1023px) {
  .SectionA {
    display: block;
    align-items: center;
  }

  .Name .img-fluid-w-25 {
    display: inline-block;
    align-items: center;
    width: 50%;
  }

  .containera .container-1 {
    display: block;
    align-items: center;
  }

  .image {
    display: flex;
    justify-content: center;
  }

  .img-fluid-w-50 {
    width: 50%;
  }
}
/* Desktop */
/* Fin section A */
/* Section B */
.SectionBb {
  background-color: #d9d9d9;
  padding-bottom: 20px;
}

.SectionB {
  border-top: 1.8px dashed #433451;
  background-color: #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  margin: 0px 20px;
  background: #dadada;
  border-radius: 20px;
  border-color: #131d39;
}

.card-img-top {
  border-radius: 20px;
}

.card-title {
  font-family: "Fredoka", sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: #131d39;
  text-align: center;
}

.card-text {
  font-family: "Fredoka", sans-serif;
  font-size: medium;
  font-weight: 500;
}

.btn-primary a {
  color: #131d39;
  background-color: #41868f;
  border-radius: 35px;
  border-color: #433451;
}

.btn-primary:hover {
  background-color: #41868f;
  border-color: #131d39;
  cursor: pointer;
  transition: all 1s;
  transform: scale(1.5);
}

/* @Media */
/* Mobile */
@media screen and (max-width: 575px) {
  .SectionB .Tith4 h3 {
    font-size: small;
    font-weight: 300;
  }

  .SectionBb .container-fluid .row {
    display: block;
    padding-bottom: 20px;
  }

  .col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 {
    display: block;
  }

  .col-xs-12 {
    padding-bottom: 20px;
  }

  .col-sm-12 {
    padding-bottom: 20px;
  }

  .col-md-4 {
    padding-bottom: 20px;
  }

  .col-lg-4 {
    padding-bottom: 20px;
  }

  .card-body .card-title {
    font-size: medium;
    font-weight: 300;
    color: #131d39;
    display: flex;
  }

  .card-text {
    font-size: medium;
    font-weight: 300;
    text-align: center;
  }
}
/* Tablets */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .SectionB .Tith4 h3 {
    font-size: small;
    font-weight: 300;
  }

  .SectionBb {
    display: block;
    padding-bottom: 20px;
  }

  .col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 {
    display: block;
  }

  .col-xs-12 {
    padding-bottom: 20px;
  }

  .col-sm-12 {
    padding-bottom: 20px;
  }

  .col-md-4 {
    padding-bottom: 20px;
  }

  .col-lg-4 {
    padding-bottom: 20px;
  }

  .card-body .card-title {
    font-size: medium;
    font-weight: 300;
    color: #131d39;
    display: flex;
  }

  .card-text {
    font-size: medium;
    font-weight: 300;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .SectionB .Tith4 h3 {
    font-size: medium;
    font-weight: 300;
  }

  .SectionBb {
    display: block;
    padding-bottom: 20px;
  }

  .col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 {
    display: block;
  }

  .col-xs-12 {
    padding-bottom: 20px;
  }

  .col-sm-12 {
    padding-bottom: 20px;
  }

  .col-md-4 {
    padding-bottom: 20px;
  }

  .col-lg-4 {
    padding-bottom: 20px;
  }

  .card-body .card-title {
    font-size: x-large;
    font-weight: 50;
    color: #131d39;
    display: flex;
  }

  .card-text {
    font-size: medium;
    font-weight: 300;
    text-align: center;
  }
}
/* Fin section B */
/* Section C */
.containerb {
  background-color: #eae6ca;
  border-top: 1.8px dashed #433451;
  text-align: justify;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.Texthome p {
  font-family: "Oxygen", sans-serif;
  font-size: medium;
  font-weight: 500;
}

/* Fin section C */
.Map, .col-md-5-comprar, .col-md-5-enviar, .form-label, .Grid.contact, .btn, .carousel, #carouselExampleIndicators .carousel-slide, .Productos, .Row2, .Row1, .SectionE a, .SectionE p, .SectionE-container, h1 h2, .container-fluid .row, .row, .col-12, .Name, .container-1, .SectionBb, .SectionB, .card, .card-title {
  display: flex;
  justify-content: center;
}

/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
/*Section D*/
.Bio-container {
  background-color: #eae6ca;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid .row {
  padding-left: 50px;
  padding-right: 50px;
}

.img-fluid-w-50 {
  padding-left: 50px;
}

h1 h2 {
  text-align: center;
  padding-bottom: 20px;
}

.text p {
  font-family: "Oxygen", sans-serif;
  font-size: medium;
  font-weight: 500;
}

h3 {
  font-family: "Fredoka", sans-serif;
  font-size: xx-large;
  font-weight: 500;
  color: #131d39;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.btn-primary a {
  border-radius: 35px;
  text-decoration: none;
  background-color: none;
}

a {
  display: flex;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #41868f;
  border-color: #131d39;
  cursor: pointer;
  transition: all 1s;
  transform: scale(1.5);
}

/* @Media */
/* Mobile */
@media screen and (max-width: 575px) {
  .Bio-container {
    display: block;
    align-items: center;
  }

  .container-fluid .row .col img .img-fluid-w-50 {
    display: block;
  }

  h1 h2 {
    display: block;
  }

  .SectionE p a {
    display: block;
    padding: 0px, 20px;
  }
}
/* Tablets */
@media screen and (min-width: 401px) and (max-width: 1023px) {
  .Bio-container {
    display: block;
    align-items: center;
  }

  h1 h2 {
    display: block;
  }

  .imag .img-fluid-w-50 {
    width: 50%;
    display: block;
    align-items: center;
  }

  .SectionE p a {
    display: block;
    padding: 0px, 20px;
  }
}
/* Desktop */
/* Section E */
.SectionE-container {
  background-color: #d9d9d9;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
  padding-bottom: 20px;
}

.SectionE {
  display: block;
}

.SectionE p {
  text-align: center;
  padding-top: 20px;
}

.Map, .col-md-5-comprar, .col-md-5-enviar, .form-label, .Grid.contact, .btn, .carousel, #carouselExampleIndicators .carousel-slide, .Productos, .Row2, .Row1, .row, .col-12, .Name, .container-1, .SectionBb, .SectionB, .card, .card-title, .container-fluid .row, h1 h2, .SectionE-container, .SectionE p, .SectionE a {
  display: flex;
  justify-content: center;
}

/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
.services-container {
  background-color: #eae6ca;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 h2 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container h2 {
  font-family: "Fredoka", sans-serif;
  font-size: xx-large;
  font-weight: 500;
  color: #131d39;
}

.container p {
  font-family: "Oxygen", sans-serif;
  font-size: medium;
  font-weight: 500;
  text-align: justify;
}

.Map, .col-md-5-comprar, .col-md-5-enviar, .form-label, .Grid.contact, .btn, .carousel, #carouselExampleIndicators .carousel-slide, .Productos, .Row2, .Row1, .row, .col-12, .Name, .container-1, .SectionBb, .SectionB, .card, .card-title, .container-fluid .row, h1 h2, .SectionE-container, .SectionE p, .SectionE a {
  display: flex;
  justify-content: center;
}

/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
.Products-container {
  background-color: #eae6ca;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
}

h1 h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.Titles3 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Fredoka", sans-serif;
  font-size: xx-large;
  font-weight: 500;
  color: #131d39;
  text-align: center;
}

.P1 {
  width: 50%;
  padding-top: 20px;
  padding-right: 50px;
  font-family: "Oxygen", sans-serif;
  font-size: medium;
  font-weight: 500;
  text-align: center;
}

.Row2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Oxygen", sans-serif;
  font-size: medium;
  font-weight: 500;
}

.Productos {
  background-color: #d9d9d9;
  padding-top: 20px;
  border-top: 1.8px dashed #433451;
  padding-bottom: 20px;
}

#carouselExampleIndicators .carousel-slide {
  width: 75%;
  background-color: #433451;
}

.carousel-item .carousel-item active {
  transition: all 2s;
  transform: none;
}

.SectionF {
  background-color: #eae6ca;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-primary {
  color: #131d39;
  background-color: #dadada;
  border-radius: 35px;
  border-color: #131d39;
}

.btn-primary:hover {
  color: #131d39;
  background-color: #dadada;
  border-color: #131d39;
  cursor: pointer;
  transition: all 1s;
  transform: scale(1.5);
}

.Map, .col-md-5-comprar, .col-md-5-enviar, .form-label, .Grid.contact, .row, .col-12, .Name, .container-1, .SectionBb, .SectionB, .card, .card-title, .container-fluid .row, h1 h2, .SectionE-container, .SectionE p, .SectionE a, .Row1, .Row2, .Productos, #carouselExampleIndicators .carousel-slide, .carousel, .btn {
  display: flex;
  justify-content: center;
}

/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
.Contact-container {
  background-color: #eae6ca;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
}

h1 h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-label {
  font-family: "Fredoka", sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: #41868f;
  text-align: center;
  padding-top: 20px;
}

.placeholder {
  font-family: "Oxygen", sans-serif;
  font-size: medium;
  font-weight: 500;
  text-align: center;
}

.col-md-5-enviar {
  padding-top: 20px;
}

.col-md-5-comprar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Map {
  background-color: #d9d9d9;
  padding-top: 20px;
  border-top: 1.8px dashed #433451;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Colores */
/* Fonts */
/* Bordes */
/* Paddings */
.row, .col-12, .Name, .container-1, .SectionBb, .SectionB, .card, .card-title, .container-fluid .row, h1 h2, .SectionE-container, .SectionE p, .SectionE a, .Row1, .Row2, .Productos, #carouselExampleIndicators .carousel-slide, .carousel, .btn, .Grid.contact, .form-label, .col-md-5-enviar, .col-md-5-comprar, .Map {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
