/* Colores */

$bg-color-header-footer: #a09cb0;
$bg-color-body: #eae6ca;
$bg-color-card: #dadada;
$bg-color-btn: #41868f;
$color-sectiona:  #eae6ca;
$color-sectionb: #d9d9d9;
$color-sectionc: #eae6ca;
$color-links: #fff;
$color-h1: #41868f;
$color-h2: #131d39;

/* Fonts */

$font-family-links: 'Courier New', Courier, monospace;
$font-family-titles: 'Fredoka', sans-serif;
$font-text: 'Oxygen', sans-serif;
$font-family-h1:  'Quicksand', sans-serif;

/* Bordes */

$border-color-toggler: #db495e;
$border-color-btn: #131d39;
$border-radius-img: 35px;
$border-radius: 35px 0px 35px 0px;
$border-radius-card: 20px;
$border-radius-btn: 35px;
$border: 2px solid #433451;
$border-top: 1.8px dashed #433451;

/* Paddings */

$padding-top: 20px;
$padding-bottom: 20px; 
$padding-left: 100px;
$padding-left-2: 50px;
$padding-right: 100px; 
$padding-right-2: 50px;