@import "../base/variables";
@import "../base/listas";
@import "../base/extends";

.footer-container {
background-color: $bg-color-header-footer;
text-align: center;
padding-top: $padding-top;
padding-bottom: 10px;
}

a img {
    width: 5%;
}

a  {
    text-decoration: none;
    color: none;
}

.wsp:hover {
    transition: all 1s;
    transform: scale(2);
}

.inst:hover {
    transition: all 1s;
    transform: scale(2);
}

.faceb:hover {
    transition: all 1s;
    transform: scale(2);
}

.linkd:hover {
    transition: all 1s;
    transform: scale(1.5);
}

/* @Media Footer */

/* Mobile */

@media screen and (max-width: 400px) {

    .footer-container {
        width: 100%;
        background-color: $bg-color-header-footer;
        text-align: center;
        padding-top: $padding-top;
        padding-bottom: 10px;
        }
        
        a  {
            text-decoration: none;
            color: none;
        }
        
        .wsp:hover {
            transition: all 1s;
            transform: scale(2);
        }
        
        .inst:hover {
            transition: all 1s;
            transform: scale(2);
        }
        
        .faceb:hover {
            transition: all 1s;
            transform: scale(2);
        }
        
        .linkd:hover {
            transition: all 1s;
            transform: scale(1.5);
        }
        
    
}    
@media screen and (max-width: 401px) and (min-width: 600px) {
                
}
    
@media screen and (max-width: 1024px) {
    
}
    
@media screen and (orientation: landscape) {
}
    

