@import "../base/variables";
@import "../base/listas";
@import "../base/extends";

.footer-container {
    background-color: $bg-color-header-footer;
    border-top: 1.5px dashed #433451;
}

.container-fluid {
    display: inline-block;
}

.logo .img-fluid {
    width: 20%;   
}

.logo {
    display: flex;
    justify-content: center;
}

.wsp:hover {
    transition: all 1s;
    transform: scale(1.5);
}

.row {
    @extend %flexbox;
    align-items: center; 
}

.col-12 {
    @extend %flexbox;
    align-items: center;
}

.col-12 img {
    width: 20%;
}

/* @Media Footer */

/* Mobile */

@media screen and (max-width: 400px) {

.footer-container {    
    
.container-fluid {
    display: flex;
}
    
.wsp:hover {
    transition: all 1s;
    transform: scale(1.5);
    }
    
.row {
    display: flex; 
    align-items: center; 
    }
    
.col-12 {

        align-items: center;
    }
    
.col-12 img {
        width: 20%;
    }
}    
}    
    @media screen and (max-width: 401px) and (min-width: 600px) {
        
        .logo .img-fluid {
            width: 40%;
            align-items: center;
        }
        
        .container-fluid {
            display: inline-block;
        } 
    }
    
    @media screen and (max-width: 1024px) {
    
    }
    
    @media screen and (orientation: landscape) {
    }
    

