@import "../base/variables";
@import "../base/listas";
@import "../base/extends";

.footer-container {
background-color: $bg-color-header-footer;
text-align: center;
padding-top: $padding-top;
padding-bottom: $padding-bottom;
border-top: $border-top;
}

a img {
    width: 5%;
}

a  {
    text-decoration: none;
    color: none;
}

.wsp:hover {
    transition: all 1s;
    transform: scale(2);
}

.inst:hover {
    transition: all 1s;
    transform: scale(2);
}

.faceb:hover {
    transition: all 1s;
    transform: scale(2);
}

.linkd:hover {
    transition: all 1s;
    transform: scale(2);
}

.fo p {
    text-align: center;
    padding-top: 10px;
}

/* @Media Footer */

/* Mobile */

@media screen and (max-width: 400px) {

a img {
    width: 15%;
    display: inline-flex;
}
}    

/* Tablets */

@media screen and (min-width: 401px) and (max-width: 1023px) {

a img {
    width: 10%;
    display: inline-flex;
}
}

@media screen and (max-width: 1024px) {
    
}
    
@media screen and (orientation: landscape) {
}
    
