
@import "../base/listas";
@import "../base/variables";
@import "../base/extends";


.Header-container {
    background-color: $bg-color-header-footer;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    opacity: var(50) ;

}

h1 {
    font-size: nth($sizes-titles, 1);
    font-weight: nth($weight, 3);
    color: $color-h1;
    font-family: $font-family-h1;
    text-align: center;
    padding-top: $padding-top;
}

h2 {
    font-family: $font-family-titles;
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 3);
    color: $color-h2;
    padding-bottom: $padding-bottom;
    text-align: center;
}

.bg-light{
    --bs-bg-opacity: 0;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $color-links;
    font-family: $font-family-links;
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 2);
}

.navbar-light .navbar-nav .nav-link {
    color: $color-links;
    font-family: $font-family-links;
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 2);
}

.nav-item {
    color: $color-links;
    font-family: $font-family-links;
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 2);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: $color-links;
    font-family: $font-family-links;
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 2);
}

.navbar-light .navbar-brand {
    color: $color-links;
    font-family: $font-family-links;
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 2);
}

.navbar-light .navbar-toggler {
    color: $color-links; 
    border-color: $border-color-toggler;
}

/* @Media Header */

/* Mobile */

@media screen and (max-width: 400px) {
    h1  {
        font-size: nth($sizes-titles, 2);
        font-weight: nth($weight, 4);
    }

    h2 {
        font-size: nth($sizes-titles, 4);
        font-weight: nth($weight, 2);
    }
}

/* Tablets */

@media screen and (min-width: 401px) and (max-width: 1023px) {

    h1  {
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 4);
}

    h2 {
    font-size: nth($sizes-titles, 4);
    font-weight: nth($weight, 2);
}
}

/* Desktop */

@media screen and (max-width: 1024px) {

}

@media screen and (orientation: landscape) {
}







