@import "../base/listas";
@import "../base/variables";
@import "../base/extends";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Index */

.SectionA {
    background-color: $color-sectiona;
    border-top: $border-top;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}

.Name {
    @extend %flexbox;
}

.container-1 {
    @extend %flexbox;
    padding-top: $padding-top;
    padding-left: 20px;
}

.image .img-fluid-w-75 {
    border: $border;
    border-radius: 80px 30px;
    box-shadow: 10px 10px rgba(160,156,176,0.86);
-webkit-box-shadow: 10px 10px rgba(160,156,176,0.86);
-moz-box-shadow: 10px 10px rgba(160,156,176,0.86);
}


.proposal1 {
   padding-left: $padding-left-2;
   padding-right: $padding-right-2;
}

.proposal2 {
    padding-top: 30px;
    padding-left: $padding-left;
    padding-right: $padding-right;

}

h3 {
    text-align: center;
    font-family: $font-family-titles;
    font-size: nth($sizes-titles, 3);
    font-weight: nth($weight, 2);
    color: $color-h2;
}

.underline {
    border-bottom: 18px solid #FCF6C3;
    display: inline-block;
    line-height: 0;
}

h4 {
    text-align: center;
    font-family: $font-family-titles;
    font-size: nth($sizes-titles, 3);
    font-weight: nth($weight, 2);
    color: $color-h2
}

p {
    padding-top: 50px;
    font-family: $font-text;
    font-size: nth($sizes-titles, 5);
    font-weight: nth($weight, 1);
    text-align: center;
}

/* Fin section A */

/* Section B */

.SectionBb  {
    background-color: $color-sectionb;
    padding-bottom: $padding-bottom;
    @extend %flexbox;
}

.SectionB {
    border-top: $border-top;
    background-color: $color-sectionb;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    @extend %flexbox;
}

.card {
    margin: 0px 20px;
    height: 723px;
    background: $bg-color-card;
    border-radius: $border-radius-card;
    border-color: $border-color-btn;
    @extend %flexbox;
    position:static;
}

.card-img-top {
    border-radius: $border-radius-card;
}

.card-title {
    font-family: $font-family-titles;
    font-size: nth($sizes-titles, 1);
    font-weight: nth($weight, 1);
    color: $color-h2;
    @extend %flexbox;
    text-align: center;
}

.card-text {
    padding-top: 10px;
    font-family: $font-family-titles;
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 1);
}

.btn-primary a {
    color: $color-h2;
    background-color: $bg-color-btn;
    border-radius: $border-radius-btn;
    border-color: #433451;
}

.btn-primary:hover {
    background-color: $bg-color-btn; 
    border-color: $border-color-btn;
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.5);
}

/* Fin section B */

/* Section C */

.containerb {
    background-color: $color-sectionc;
    border-top: $border-top;
    text-align: justify;
    padding-bottom: $padding-bottom;
    padding-top: $padding-top;
    padding-left: $padding-left-2;
    padding-right: $padding-right-2;
}

.Texthome p {
    font-family: $font-text;
    font-size: nth($sizes-titles, 5);
    font-weight: nth($weight, 1);
}

/* Fin section C */

/* @Media Section A */

/* Mobile */

@media screen and (max-width: 400px) {
    
.SectionA {
    display:block;
    align-items: center;
}

    
.Name .img-fluid-w-25 {
    display: inline-block;
    align-items: center;
    width: 50%;
}
 
.container-1 .container-2 {
    display: inline-block;
    align-items: center;
}

img {
    display: none;
}
}

/* Tablets */

@media screen and (min-width: 401px) and (max-width: 1023px) {
    
.SectionA {
    display:block;
    align-items: center;
}
    
.Name .img-fluid-w-25 {
    display: inline-block;
    align-items:  center;
    width: 50%;
}

.container-1 .container-2 {
    display: inline-block;
    align-items: center;
}

img {
    display: none;
}
}
    
/* Desktop */

@media screen and (max-width: 1024px) {

}

@media screen and (orientation: landscape) {
}

/* @Media Section B */

/* Mobile */

@media screen and (max-width: 400px) {
 
.SectionB .Tith4 h3 {
    font-size: nth($sizes-titles, 4);
    font-weight: nth($weight, 4);
}
        
.SectionBb .container-fluid .row {
    display: block;
    padding-bottom: $padding-bottom;
}
        
.col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 {
    display: block;
}
        
.col-xs-12 {
    padding-bottom: $padding-bottom;
}
        
.col-sm-12 {
    padding-bottom: $padding-bottom;
}
        
.col-md-4 {
    padding-bottom: $padding-bottom;
}
        
.col-lg-4 {
    padding-bottom: $padding-bottom;
}
        
.card-body .card-title {
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 1);
    color: $color-h2;
    display: flex;
}
        
.card-text {
    font-size: nth($sizes-titles, 3);
    font-weight: nth($weight, 4);
    text-align: center;
}
.card-img-top {
    display: flex;
}

.card {
    height: 550px;
}
}

/* Tablets */

@media screen and (min-width: 401px) and (max-width: 1023px) {
    
.SectionB .Tith4 h3 {
    font-size: nth($sizes-titles, 4);
    font-weight: nth($weight, 4);
}
    
.SectionBb  {
    display: block;
    padding-bottom: $padding-bottom;
}
    
.col-xs-12 .col-sm-12 .col-md-4 .col-lg-4 {
    display: block;
}

.col-xs-12 {
    padding-bottom: $padding-bottom;
}
    
.col-sm-12 {
    padding-bottom: $padding-bottom;
}
    
.col-md-4 {
    padding-bottom: $padding-bottom;
}
    
.col-lg-4 {
    padding-bottom: $padding-bottom;
}
    
.card-body .card-title {
    font-size: nth($sizes-titles, 2);
    font-weight: nth($weight, 1);
    color: $color-h2;
    display: flex;
}
        
.card-text {
    font-size: nth($sizes-titles, 3);
    font-weight: nth($weight, 4);
    text-align: center;
}
.card-img-top {
    display: flex;
}

}
  /* Desktop*/

@media screen and (min-width: 1024px) {

}
@media screen and (orientation: landscape) {
}
