@import "../base/extends";
@import "../base/listas";
@import "../base/variables";


.Products-container {
    background-color: $color-sectiona;
    border-top: $border-top; 
    padding-top: $padding-top;
}

h1 h2 {
    padding-bottom: $padding-bottom;
    padding-top: $padding-top;
}

.P1 {
    padding-top: $padding-top;
    font-family: $font-text;
    font-size: nth($sizes-titles, 6);
    font-weight: nth($weight, 1);
    text-align: center;
    padding-left: $padding-left-2;
    padding-right: $padding-right-2;
}

.Row2 .P2  {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    font-family: $font-text;
    font-size: nth($sizes-titles, 6);
    font-weight: nth($weight, 1);
    @extend %flexbox;
    text-align: center;
    padding-left: $padding-left-2;
    padding-right: $padding-right-2;
}

.Productos {
   background-color: $color-sectionb;
   padding-top: $padding-top;
   border-top: $border-top;
   padding-bottom: $padding-bottom;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    }
    
.div1 { 
    grid-area: 1 / 1 / 3 / 2; }
.div2 { 
    grid-area: 1 / 3 / 3 / 4; }
.div3 { 
    grid-area: 1 / 5 / 3 / 6; }
.div4 { 
    grid-area: 2 / 2 / 4 / 3; }
.div5 { 
    grid-area: 2 / 4 / 4 / 5; }
.div6 { 
    grid-area: 3 / 1 / 5 / 2; }
.div7 { 
    grid-area: 3 / 3 / 5 / 4; }
.div8 { 
    grid-area: 3 / 5 / 5 / 6; }

.img-fluid {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    border-radius: 40px;
}

.img-fluid:hover {
    transition: all 1s;
    transform: scale(1.2);
}

.SectionF {
    background-color: $color-sectionc;
    border-top: $border-top;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}

.btn-primary {
    color: $color-h2;
    background-color: $bg-color-card;
    border-radius: $border-radius-btn;
    border-color: $border-color-btn;
}

.width .btn-primary a {
    font-family: $font-text;
    font-size: nth($sizes-titles, 4);
}

.btn {
 @extend %flexbox;
}

.btn-primary:hover {
    color: $color-h2;
    background-color: $bg-color-card;
    border-color: $border-color-btn;
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.5);
}

.si {
    font-family: $font-text;
    font-size: nth($sizes-titles, 6);
    font-weight: nth($weight, 1);
    text-align: center;
    padding-bottom: $padding-bottom;
}

ol li {
    list-style-type: none;
}

/* @Mediaq*/

/* Mobile */

@media screen and (max-width: 400px) {
.parent {
        display: block;
        align-items: center;
}

.img-fluid {
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}

.P1 {
    text-align: justify;
}

.Row2 .P2 {
    text-align: justify;
}
}

/* Tablets */

@media screen and (min-width: 401px) and (max-width: 1023px) {
.parent {
    display: block;
    align-items: center;
}

.img-fluid {
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}

.P1 {
    text-align: justify;
}

.Row2 .P2 {
    text-align: justify;
}
}

/* Desktop*/

@media screen and (min-width: 1024px) {

}
@media screen and (orientation: landscape) {
}



