@import "../base/extends";
@import "../base/listas";
@import "../base/variables";

/*Section D*/

.Bio-container {
    background-color: $color-sectiona;
    border-top: $border-top;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}

.container-fluid .row  {
    @extend %flexbox;
    padding-left: $padding-left-2;
}

.img-fluid-w-50 {
    border: $border;
    border-radius: 70px 30px;
    box-shadow: 10px 10px rgba(160,156,176,0.86);
-webkit-box-shadow: 10px 10px rgba(160,156,176,0.86);
-moz-box-shadow: 10px 10px rgba(160,156,176,0.86);
}

h1 h2 {
    @extend %flexbox;
    text-align: center;
    padding-bottom: $padding-bottom;
}

.text  {
    padding-top: 70px;
    font-family: $font-text;
    font-size: nth($sizes-titles, 6);
    font-weight: nth($weight, 1); 
}

h3 {
    font-family: $font-family-titles;
    font-size: nth($sizes-titles, 1);
    font-weight: nth($weight, 1);
    color: $color-h2;
    padding-bottom: $padding-bottom;
    padding-top: $padding-top;
    text-align: center;
}

.width {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn .btn-primary a {
    border-radius: $border-radius-btn;
    text-decoration: none;
}

.width .btn-primary a {
    font-family: $font-text;
    font-size: nth($sizes-titles, 4);
}

.btn-primary:hover {
    background-color: $bg-color-btn; 
    border-color: $border-color-btn;
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.5);
}

/* Section E */

.SectionE-container {
    background-color: $color-sectionb;
    border-top: $border-top;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    @extend %flexbox;
}

.SectionE {
    display: block;
}

.SectionE p {
    @extend %flexbox;
    text-align: center;
    padding-top: $padding-top;
}

.textt {
    font-weight: nth($weight, 6);
}

.SectionE a {
    @extend %flexbox;
}

/* @Media */

/* Mobile */

@media screen and (max-width: 400px) {
    
.Bio-container {
    display: block;
    align-items: center;
}

.container-fluid .row img .img-fluid-w-50 {
     display: block;
}

.img-fluid-w-50 {
    width: 50%;
    align-items: center;
    margin: 0 100px;
    padding: 0;
    border: $border;
    border-radius: 30px 30px;
    box-shadow: 10px 10px rgba(160,156,176,0.86);
    -webkit-box-shadow: 10px 10px rgba(160,156,176,0.86);
    -moz-box-shadow: 10px 10px rgba(160,156,176,0.86);
}
    
.container-fluid .row {
    padding: 0 10px;
}

h1 h2 {
    display: block;
}

.SectionE p a {
    display: block;
}
}

/* Tablets */

@media screen and (min-width: 401px) and (max-width: 1023px) {

.Bio-container {
    display: block;
    align-items: center;
}
    
.container-fluid .row img .img-fluid-w-50 {
    display: block;
}
    
.img-fluid-w-50 {
    width: 50%;
    display: flex;
    margin: 0 auto;
    border-radius: 30px 30px;
    box-shadow: 10px 10px rgba(160,156,176,0.86);
    -webkit-box-shadow: 10px 10px rgba(160,156,176,0.86);
    -moz-box-shadow: 10px 10px rgba(160,156,176,0.86);
}
        
.container-fluid .row {
    padding: 0 10px;
}
    
h1 h2 {
    display: block;
}
    
.SectionE p a {
    display: block;
}
    
}     
  

/* Desktop */

@media screen and (max-width: 1024px) {

}

@media screen and (orientation: landscape) {
}
