@import "../base/extends";
@import "../base/listas";
@import "../base/variables";

/*Section D*/

.Bio-container {
    background-color: $color-sectiona;
    border-top: $border-top;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}

.padre .container .row-cols-2 {
    @extend %flexbox;
    padding-left: $padding-left-2;
    padding-right: $padding-right-2;
}

.img-fluid-w-50 {
    padding-left: $padding-left-2;
}

h1 h2 {
    @extend %flexbox;
    text-align: center;
    padding-bottom: $padding-bottom;
}

.text p {
    font-family: $font-text;
    font-size: nth($sizes-titles, 3);
    font-weight: nth($weight, 1); 
}

h3 {
    font-family: $font-family-titles;
    font-size: nth($sizes-titles, 1);
    font-weight: nth($weight, 1);
    color: $color-h2;
    padding-bottom: $padding-bottom;
    padding-top: $padding-top;
    text-align: center;
}

.btn-primary a {
    border-radius: $border-radius-btn;
    text-decoration: none;
    background-color: none;
}

.btn-primary:hover {
    background-color: $bg-color-btn; 
    border-color: $border-color-btn;
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.5);
}

/* @Media */

/* Mobile */

@media screen and (max-width: 400px) {
    .Bio-container {
        display: block;
        align-items: center;
    }

    .padre .container .row-cols-2 .img-fluid-w-50 {
     display: block;
    }


    h1 h2 {
        display: block;
    }

    .SectionE p a {
        display: block;
        padding: 0px, 20px;
    }
}


/* Tablets */

@media screen and (min-width: 401px) and (max-width: 1023px) {
    .Bio-container {
        display: block;
        align-items: center;
    }

    h1 h2 {
        display: block;
    }

    .imag .img-fluid-w-50 {
        width: 50%;
        display: block;
        align-items: center;
    } 
    

    .SectionE p a {
        display: block;
        padding: 0px, 20px;
    }
}     
  

/* Desktop */

@media screen and (max-width: 1024px) {

}

@media screen and (orientation: landscape) {
}

/* Section E */

.SectionE-container {
    background-color: $color-sectionb;
    border-top: $border-top;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    @extend %flexbox;
}

.SectionE {
    display: block;
}

.SectionE p {
    @extend %flexbox;
    text-align: center;
    padding-top: $padding-top;
}

.SectionE a {
    @extend %flexbox;
}
